{% extends 'base.html.twig' %}

{% block title %}Modifier le rapport{% endblock %}

{% block body %}
    <h1>Modifier le rapport</h1>

    {{ include('rapport/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <br>

    <a href="{{ path('rapport_index') }}">Retourner à la liste</a>

    {{ include('rapport/_delete_form.html.twig') }}
{% endblock %}
