{% extends 'base.html.twig' %}

{% block title %}Nouveau rapport{% endblock %}

{% block body %}
    <h1>Créer un nouveau rapport</h1>

    {{ include('rapport/_form.html.twig') }}

    <a href="{{ path('rapport_index') }}">Retourner à la liste</a>
{% endblock %}
