{% extends 'base.html.twig' %}

{% block title %}Nouveau rapport{% endblock %}

{% block body %}

    
    <center>
        <a href="{{ path('rapport_index') }}" class="btn btn-primary" role="button" >Retourner à la liste des rapport de {{ rapport.idvisiteur.nom }}</a>
    </center>

    <br><br>


    <h1>Créer un nouveau rapport</h1>

    {{ include('rapport/_form.html.twig') }}

{% endblock %}
